@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "urbanist",sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color:#29a9fd;
    --bs-supporting-color:#c850c0;
}
h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca',sans-serif;
    color: var(--bs-dark-color);

}

h1{
    font-size: 3rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
p{
    margin:0;
    font-weight: 400;
    font-size: 1rem;
    color:var(--bs-dark-color);
    letter-spacing: 0.05rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.bg-main{
    height: 90vh;
    position: relative;
}
.bg-color{
    background-color: var(--bs-dark-primary);
}
.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none!important;
}
.fa-star{
    color: var(--bs-supporting-color);
}
/*navbar style*/

.navbar {
    padding: 1rem 0;
}

@media (max-width: 767px) {
    .navbar {
        padding: 0.5rem 0;
    }
}

.nav-link:hover{
    color: plum !important;
    text-decoration: underline;
}

button, a{
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
    font-weight: bold;
}
.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
}
.comman-title{
    margin-bottom: 4.2rem;
}
@media (max-width: 767px) { 
    .center-button-mobile {
        display: flex;
        justify-content: center;
    }
}


/*hero-section*/
/* For screens with width up to 767px (small devices) */
@media (max-width: 767px) {
    .hero-section-img {
        padding-top: 20px; /* Adjust the padding value as needed */
    }
}

/* For screens with width 768px to 991px (medium devices) */
@media (min-width: 768px) and (max-width: 991px) {
    .hero-section-img {
        padding-top: 30px; /* Adjust the padding value as needed */
    }
}

/* For screens with width 992px and above (large devices) */
@media (min-width: 992px) {
    .hero-section-img {
        padding-top: 50px; /* Adjust the padding value as needed */
    }
}

.hero-video--section{
    width: 30rem;
    border-radius: 3rem;
}
.hero-section .container{
    display: grid;
    place-items: center;
    height: inherit;
}
.hero-section h1{
    font-size: 3.4rem;
}
.text-light-grey{
    color: var(--bs-primary-color)
}
.hero-video--section {
    width: 100%;
    max-width: 400px; /* Adjust this as needed */
    border-radius: 1rem;
}

@media (max-width: 767px) {
    .hero-video--section {
        max-width: 300px; /* Adjust this as needed */
    }
}

@media screen and (max-width: 1400px) {

    .hero-video--section{
        width: 25rem;
        border-radius: 1rem;
    }
}
@media screen and (max-width: 1200px) {

    .hero-section{
        height: 80vh;
    }

    .hero-video--section{
        width: 20rem;
        border-radius: 1rem;
    }
}
@media screen and (max-width: 998px) {

    h1{
        font-size: 2.4rem;
    }

    section .common-heading{
        font-size: 2rem;
    }

    section  .para-width{
        width:  auto;
    }

    .hero-section{
        height: 100vh;
    }

    .navbar-toggler{
        border-color: var( --bs-main-color);
    }
    .navbar-toggler-icon{
        background-color: var( --bs-main-color);
    }

}
/*button*/
/* For screens with width up to 767px (small devices) */
@media (max-width: 767px) {
    .hero-section .btn {
        margin: 10px auto; /* Center the button and adjust vertical margin */
        padding: 10px 20px; /* Adjust padding as needed */
    }
}

/* For screens with width 768px and above (medium and large devices) */
@media (min-width: 768px) {
    .hero-section .btn {
        margin: 20px 0; /* Adjust vertical margin */
        padding: 15px 30px; /* Adjust padding as needed */
    }
}

/* service-section */

.serviceText .card{
    height:280px;
    cursor: pointer;
}
.servicesIcon{
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title{
    text-align: center;
}
.card:hover .servicesIcon{
    color:gray;
    box-shadow: #1a1d20;
}
.servicesText:hover{
    border: 2px solid gray ;
    box-shadow: #1a1d20;
}
@media (max-width: 991px) {
    .col-md-4 {
        flex: 0 0 50%; /* Two cards per row on medium screens */
    }
}

@media (max-width: 767px) {
    .col-md-4 {
        flex: 0 0 100%; /* One card per row on small screens */
    }
}

/* .card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
} */

/*About section*/
img{
   float: left;
}
.about-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .about-inside {
        flex-direction: column;
    }
}

.para{
    font-weight: bolder;
    color: rgb(241, 206, 212);
    font-family: 'Borel', cursive;
}
.text{
    letter-spacing: 2px;
    word-spacing: 1px;
}
@media (max-width: 767px) {
    .col-lg-8 {
        margin-left: 20px;
    }
}
#about{
    margin-top: 30px;
    padding-top: 40px;

}
.about-inside{
    text-align: center;
    align-content: flex-start;
    font-size: 6px;
}
.skills{
    display: flex;
	flex-wrap: wrap;
	margin-top: 28px;
	margin-bottom: 32px;
}
.skills span{
    font-size: 20px;
	border: 2px solid rgba(41, 41, 41, 0.1);
	padding: 6px 16px;
	border-radius: 40px;
	margin: 0 5px 5px 0;
	background: #fff;
}
.skills span:hover{
    color: rebeccapurple;
}
.about-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 768px) {
    .about-inside {
        flex-direction: row;
        align-items: flex-start;
    }
}


/*digital product*/
.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.7), rgba(22,22,22,0.9)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}
.more-info-section .img-secton{
    position: relative;
}
.more-info-section .img-secton .img{
    position: absolute;
    left: 0;
    width: 40%;
} 
/* @media (max-width: 995px) {
    .digital-product-button {
        margin-bottom: 50px;
    }
} */




/*footer*/
.social-icons {
    font-size: 50px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: red;
}
.fab {
    color: cadetblue;
}
/* footer styling */
#footer {
    background-color: white;
    text-align: center;
}
.social-icons {
    font-size: 40px;
    margin: 10px;
}

@media (max-width: 767px) {
    .social-icons {
        margin: 10px 5px;
    }
}
